<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.modak.modaktestone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.modak.modaktestone.kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_final_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.modak.modaktestone.navigation.administrator.UploadSlideActivity"></activity>
        <activity android:name="com.modak.modaktestone.navigation.SearchTestActivity" />
        <activity android:name="com.modak.modaktestone.navigation.SearchViewActivity" />
        <activity
            android:name="com.modak.modaktestone.navigation.CreateNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.modak.modaktestone.navigation.WelfareNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.account.AddInquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.account.MyInquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.modak.modaktestone.navigation.account.NoticeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.account.NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.administrator.UploadNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.account.MyFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.account.MyCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.account.MyContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.PhoneCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.HomeRegionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.HomePageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.InputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.ReportViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.DetailContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.AddContentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.modak.modaktestone.navigation.EditContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.BoardContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.navigation.SelectRegionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.modak.modaktestone.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.modak.modaktestone.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.modaktestone" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoe55c02914e0d51f60e971b486733ed22" />
            </intent-filter>
        </activity> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/logo_title" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/dots_color" /> -->
        <service android:name="com.modak.modaktestone.navigation.util.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>